body {
  background-color: rgb(34, 32, 32);
}


.roleContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding-right: 20px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(42, 81, 81);
  }

  .nameContainer {
    margin-left: 10px;
    width: 20%;
    font-family: "Ubuntu", sans-serif
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
  }

  
/* OpenRoles.module.css */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 1000; /* ensure modal is above other content */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 32, 32);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1001; /* ensure modal is above backdrop */
}

.modalContent {
  height: 550px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
  color: white;
}

button{
  background-color: rgb(42, 81, 81);
  padding: 10px 20px;
  margin-left: 1%;
  margin-bottom: 10px;
  border: 1px solid  rgb(42, 81, 81);
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif; 
  font-size: 20px;
  
}


  